/* general */
:root {
	--color-my-bg-prymary: #2c3e50;
	--color-my-bg-footer: #3a546d;
	--color-my-bg-primary-section: #1abc9c;
}

img{
    display: block;
}
/* utilities */

.my-bg-primary{
    background-color: var(--color-my-bg-prymary);
}
.my-bg-footer{
    background-color: var(--color-my-bg-footer);
}
.my-bg-primary-section{
    background-color: var(--color-my-bg-primary-section);
}
#hero hr{
    opacity: 1;
    width: 100px;
    display: inline-block;
    margin: 0;
}
/* body */
body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.img-width-200{
    width: 200px;
}
/* header */
header h2{
    margin-bottom: 0;
}

/* hero */
#hero span{
    font-size: 0.9em;
}